.InfoArtista {
    width: 70%;
    padding: 20px;
    padding-top: 0%;
    box-sizing: border-box;
}

.Info{
    display: flex;
}

.Imagen {
    flex: 1;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    max-width: 50%;
    overflow: hidden;
    position: relative;
    padding: 20px;
}

.FotoArtista img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding-top: 20px;
}

/* 
.Contenido{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
} */

.social-media-list{
    display: flex;
}

.social-media-item {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.social-media-item img{
    box-shadow: 0px 0px 0px;
    height: auto;
    width: auto;
    margin: 0px
}